<app-navbar></app-navbar>

<h1>Rental</h1>
<div class="form">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Rental ID</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="1001"
    />
  </div>
  <div class="mb-3">
    <label for="rentalDate" class="form-label">Rental Date</label>
    <input
      type="text"
      class="form-control"
      id="rentalDate"
      placeholder="1001"
    />
  </div>
  <div class="mb-3">
    <label for="returnDate" class="form-label">Return Date</label>
    <input
      type="date"
      class="form-control"
      id="returnDate"
      placeholder="1001"
    />
  </div>
</div>
